* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: #111111; 
    background-color: #f9f9f9; 
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #fbfce7;
    border-bottom: 1px solid #ccc;
}

.header img {
    height: 50px;
    margin-right: 1rem;
}

h1 {
    font-size: 2rem;
    font-family:  Arial, sans-serif;
    text-align: center;
    color: #000;
}

nav ul.navigation {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 10px;
}

.navigation a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
   
}
.contact{
    display: flex;
    gap: 20px;
    align-items: center; 
    margin-bottom: 10px;
}
main h1, main h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333;
}

.information{
    text-align: left;
    max-width: 50%;
    display: flex;
    justify-content:center;
    gap: 50px; 
    flex: 1;
}

.information img{
    width: 20px;
    height: 20px;
}

.map iframe {
    text-align: right;
    max-width: 85%; 
    flex: 1;
}

.employees {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    gap: 20px; 
    justify-items: center;
    margin: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.employees title{
    text-align: center; 
    font-size: 2rem; 
    margin: 0; 
    grid-column:1/6;
}

.employees figure{
    display: inline-block; 
    margin: 10px;
    text-align: center;
}
.employees img {
    width: 100%;
    max-width: 200px; 
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.employees figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
}


/* Footer */
footer {
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

nav.sociallinks {
    display: flex;
    justify-content:center;
    gap: 50px;
}

nav.sociallinks a img {
    width: 40px;
    height: 40px;
}


